Repository nnine-tech/nnine-training, pull requests merged in 2024-11, with the labels that each got.

#75 feat: LandingTrainers
  package-lock.json
  src/app/globals.css
  src/app/page.js
  src/components/Introduction.js
  src/components/LandingTrainers.js
  src/components/ProductManager.js
Labels: frontend

#85 feat: courseModel and courseSyllabusModel created
  package.json
Labels: backend

#86 setup done
  backend/.gitignore
  backend/Controller/courseController.js
  backend/Model/courseModel.js
  backend/Model/coursesyllabusModel.js
  backend/Routes/courseRoute.js
  backend/Routes/courseSyllabusRoute.js
  backend/app.js
  backend/config.env
  backend/package-lock.json
  backend/package.json
  backend/server.js
Labels: backend

#92 feat: blogs detail added
  public/blogdetailsbg.svg
  src/app/Blog/[blog]/page.js
  src/components/About.js
  src/components/Blog.js
  src/components/BlogDetails.js
  src/components/Blogs.js
  src/components/TrainersPage.js
  src/components/TrainersProfile.js
Labels: frontend

#93 feat: first update
  package-lock.json
  package.json
  src/app/ProductDesigner/page.js
  src/app/product/page.js
  src/components/Career.js
  src/components/ProductDesigner.js
  yarn.lock
Labels: frontend

#94 feat: LandingTrainers Updated
  src/components/LandingTrainers.js
Labels: frontend

#101 feat: careerUpdated
  src/components/Career.js
  src/components/LandingTrainers.js
Labels: frontend

#100 feat: initial update
  public/aboutbg.svg
  public/aboutbg2.svg
  src/app/Popularcourses/page.js
  src/components/About.js
  src/components/Blogs.js
  src/components/Card2.js
  src/components/CourseList.js
Labels: frontend

#109 106 student api
  backend/Controller/studentController.js
  backend/Model/studentModel.js
  backend/Routes/studentRoute.js
  backend/app.js
  backend/config.env
  backend/package-lock.json
  backend/package.json
Labels: backend

#110 81 backend setup
  backend/Controller/courseController.js
  backend/Controller/courseSyllabusController.js
  backend/Model/courseModel.js
  backend/Model/coursesyllabusModel.js
  backend/Routes/courseRoute.js
  backend/Routes/courseSyllabusRoute.js
  backend/app.js
Labels: backend

#123 feat: course controller updated
  backend/Controller/courseController.js
  backend/Controller/courseSyllabusController.js
  backend/Model/coursesyllabusModel.js
  backend/Routes/courseRoute.js
  backend/Routes/courseSyllabusRoute.js
  backend/Utils/apiFeatures.js
  backend/package.json
Labels: backend

#127 feat:notification API
  backend/Controller/notificationController.js
  backend/Model/notificationModel.js
  backend/Routes/notificationRoute.js
  backend/app.js
Labels: backend

#97 feat: fee
  backend/Controller/courseController.js
  backend/Controller/feesController.js
  backend/Controller/sendFileController.js
  backend/Controller/userController.js
  backend/Model/fee.model.js
  backend/Model/userModel.js
  backend/Routes/feesRoute.js
  backend/Routes/fileRoute.js
  backend/Routes/userRoute.js
  backend/app.js
  backend/config.env
  backend/package-lock.json
  backend/package.json
  backend/public/1732089968976-Screenshot 2024-07-24 093111.png
  backend/public/1732090062508-Screenshot 2024-07-24 093111.png
  backend/utils/sendFile.js
Labels: backend

#130 feat: fix bug
  backend/Controller/courseController.js
  backend/Controller/feesController.js
Labels: backend

#131 fix: config
  backend/Controller/courseController.js
  backend/Controller/courseSyllabusController.js
  backend/Controller/errorController.js
  backend/Controller/userController.js
  backend/Model/UserModel.js
  backend/Routes/userroute.js
  backend/Utils/appError.js
  backend/Utils/catchAsync.js
  backend/app.js
  backend/package-lock.json
  backend/package.json
Labels: backend

#139 feat: fix
  backend/Controller/userController.js
Labels: backend

#129 feat: trainer api
  backend/Controller/courseController.js
  backend/Controller/n9reviewController.js
  backend/Controller/trainerController.js
  backend/Controller/trainerReviewController.js
  backend/Controller/userController.js
  backend/Model/n9-reviewModel.js
  backend/Model/trainerModel.js
  backend/Model/trainerReview.js
  backend/Routes/n9reviewRoute.js
  backend/Routes/trainerReviewRoute.js
  backend/Routes/trainerRoute.js
  backend/Routes/userroute.js
  backend/app.js
  backend/config.env
  backend/package-lock.json
  backend/package.json
  backend/server.js
  backend/takeaAwayPoint.txt
  package-lock.json
  package.json
  yarn.lock
Labels: backend

#128 feat: chat API
  backend/Controller/courseController.js
  backend/Controller/messageController.js
  backend/Model/MessageModel.js
  backend/Model/notificationModel.js
  backend/Routes/courseRoute.js
  backend/Routes/messageRoute.js
  backend/Routes/notificationRoute.js
  backend/Routes/userroute.js
  backend/app.js
  backend/config.env
  backend/package-lock.json
Labels: backend

#157 feat: student API
  backend/Controller/studentController.js
  backend/Model/studentModel.js
  backend/Routes/studentRoute.js
  text.txt
Labels: backend

#159 feat: usersettings API
  backend/Controller/userSettingController.js
  backend/Model/userSettingModel.js
  backend/Routes/userRoute.js
  backend/Routes/userRouter.js
  backend/Routes/userSettingRoute.js
  backend/Routes/userroute.js
  backend/app.js
  backend/config.env
Labels: backend

#160 feat: fee API
  backend/Controller/userController.js
  backend/Model/fee.model.js
  backend/app.js
Labels: backend

#156 fix: conflict
  backend/Controller/adminController.js
  backend/Controller/authenticationController.js
  backend/Controller/courseController.js
  backend/Controller/errorController.js
  backend/Model/newAdminModel.js
  backend/Model/userModel.js
  backend/Routes/adminRoute.js
  backend/Routes/courseRoute.js
  backend/Utils/email.js
  backend/app.js
  backend/config.env
  backend/package-lock.json
  backend/package.json
Labels: backend

#162 feat: changes
  src/components/Footer.js
Labels: frontend

#163 fix: beautify
  backend/Controller/adminController.js
  backend/Controller/authenticationController.js
  backend/Controller/courseController.js
  backend/Model/newAdminModel.js
  backend/Routes/adminRoute.js
  backend/Routes/courseRoute.js
  backend/app.js
  backend/config.env
Labels: backend

#165 feat: fee API
  backend/Controller/feesController.js
  backend/Controller/messageController.js
  backend/Model/fee.model.js
  backend/Routes/feesRoute.js
  backend/app.js
  backend/package.json
Labels: backend

#166 feat: Student API
  backend/Controller/userController.js
  backend/Routes/feesRoute.js
  backend/app.js
  backend/config.env
  backend/package-lock.json
  backend/package.json
  tailwind.config.js
Labels: backend

#155 feat: contact-api
  backend/Controller/contactController.js
  backend/Model/contactModel.js
  backend/Routes/contactRoute.js
  backend/Routes/userRouter.js
  backend/app.js
Labels: backend

#168 feat: Student Enrollment
  backend/Controller/feesController.js
  backend/Controller/messageController.js
  backend/Controller/studentController.js
  backend/Model/studentModel.js
  backend/Routes/feesRoute.js
  backend/Routes/studentRoute.js
  backend/app.js
  backend/config.env
Labels: backend

#172 fix: bug
  backend/Controller/adminController.js
  backend/Controller/authenticationController.js
  backend/Model/newAdminModel.js
  backend/Routes/adminRoute.js
  backend/app.js
  backend/package-lock.json
  backend/package.json
  backend/public/img/admins/70be2d5a9a13bb785a37233d3ba31473
  backend/public/img/admins/admin-67459b630482d4ea302afcfd-1732688074085.jpeg
  backend/public/img/admins/admin-67459b630482d4ea302afcfd-1732688342898.jpeg
  backend/public/img/admins/admin-67459b630482d4ea302afcfd-1732688380477.jpeg
  backend/public/img/admins/admin-6746e47195ade3a23fd45bce-1732704906053.jpeg
  backend/public/img/admins/default.jpg
Labels: bug, backend

#174 106 Student API
  backend/Controller/feesController.js
  backend/Routes/eventRoute.js
  backend/app.js
  backend/takeaAwayPoint.txt
Labels: backend

#176 feat: 171 fixes backend
  backend/app.js
  backend/package-lock.json
  backend/server.js
Labels: backend

#177 feat: admin setup
  admin/.gitignore
  admin/README.md
  admin/jsconfig.json
  admin/next.config.mjs
  admin/package.json
  admin/postcss.config.mjs
  admin/public/file.svg
  admin/public/globe.svg
  admin/public/next.svg
  admin/public/vercel.svg
  admin/public/window.svg
  admin/src/app/favicon.ico
  admin/src/app/fonts/GeistMonoVF.woff
  admin/src/app/fonts/GeistVF.woff
  admin/src/app/globals.css
  admin/src/app/layout.js
  admin/src/app/login/page.js
  admin/src/app/page.js
  admin/src/app/signup/page.js
  admin/tailwind.config.js
  admin/yarn.lock
Labels: frontend

#179 feat: Student API
  backend/.gitignore
  backend/Controller/studentController.js
  backend/app.js
  backend/config.env
  backend/package-lock.json
  backend/package.json
Labels: backend

#180 feat: Cloudinary
  backend/.gitignore
  backend/Controller/sendFileController.js
  backend/app.js
  backend/config.env
  backend/package-lock.json
  backend/package.json
  backend/utils/sendFile.js
Labels: backend

#181 feat: cloudinary updated
  backend/Controller/adminController.js
  backend/Controller/authenticationController.js
  backend/Controller/courseController.js
  backend/Routes/adminRoute.js
  backend/Routes/courseRoute.js
  backend/Utils/FileUpload.js
  backend/Utils/filter.js
  backend/app.js
  backend/config.env
  backend/dev-data/data/admins.json
  backend/dev-data/data/courseSyllabuses.json
  backend/dev-data/data/courses.json
  backend/dev-data/data/import-dev-data.js
  backend/package-lock.json
  backend/package.json
  backend/public/img/admins/70be2d5a9a13bb785a37233d3ba31473
  backend/public/img/admins/admin-67459b630482d4ea302afcfd-1732688074085.jpeg
  backend/public/img/admins/admin-67459b630482d4ea302afcfd-1732688342898.jpeg
  backend/public/img/admins/admin-67459b630482d4ea302afcfd-1732688380477.jpeg
  backend/public/img/admins/admin-6746e47195ade3a23fd45bce-1732704906053.jpeg
  backend/public/img/admins/admin-67481d86ab3b463422e9b2ed-1732784939181.jpeg
  backend/public/img/admins/course-67481d86ab3b463422e9b2ed-1732785025091.jpeg
  backend/public/img/admins/course-67481d86ab3b463422e9b2ed-1732785546090.jpeg
  backend/public/img/admins/default.jpg
  backend/server.js
Labels: backend
